// left here for debugging purposes
// its monokai theme
// Colors //
$bg: #272822;
$bg-alt: #383830;
$active: #49483e;
$borderbg: #f5f4f1;
$fg: #f8f8f2;
$urgent: #cc6633;
$selected: #a6e22e;
$highlight: #f92672;

$critical_frame_color: #f92672;
$critical_background: #cc6633;
$critical_foreground: #272822;

$normal_frame_color: #a6e22e;
$normal_background: #a6e22e;
$normal_foreground: #383830;

$low_frame_color: #f8f8f2;
$low_background: #383830;
$low_foreground: #f5f4f1;

$base00:#272822;
$base01:#383830;
$base02:#49483e;
$base03:#75715e;
$base04:#a59f85;
$base05:#f8f8f2;
$base06:#f5f4f1;
$base07:#f9f8f5;
$base08:#f92672;
$base09:#fd971f;
$base0A:#f4bf75;
$base0B:#a6e22e;
$base0C:#a1efe4;
$base0D:#66d9ef;
$base0E:#ae81ff;
$base0F:#cc6633;

$yellow:#f4bf75;
$blue:#66d9ef;
