@import 'colors';

$regular: 0.45rem;
$small: 0.25rem;

// Global //
* {
  all: unset;
  /* border: 1px solid cyan; */
  font-family: "Iosevka";
  color: $fg;
}

.systray {
  font-size: 1.5*$regular;
}

tooltip {
  background-color: $bg;
  color: $fg;
  font-weight: Bold;
  font-size: $regular;
}

//----- Main Bar widget -----//

// .bar {
//   background-color: rgba($bg, .5);;
// }

.allbars {
  margin: 0.5*$small $regular;
  padding: 0;
}

.mainbars {
  background-color: $bg;
  border: 1px solid $borderbg;
  border-radius: 12px;
  padding: 0.5*$small $regular;
  box-shadow: 3px 3px 3px 0px $bg-alt;
}

.icons {
  background-repeat: no-repeat;
  /* margin: 0 2*$regular 0 0; */
  background-size: 2*$regular;
  min-height: 2*$regular;
  min-width: 2*$regular;
  transition: all .7s ease-in-out;
}

.icon-power {
  background-repeat: no-repeat;
  background-size: 18px;
  min-height: 18px;
  min-width: 18px;
}

.infotext {
  background-color: $bg-alt;
  border-radius: 16px;
  padding: 0 5px;
  font-size: 1.5*$regular;
  /* font-weight: bold; */
}
.resize-indicator {
  background-color: $highlight;
  color: $fg;
}
.battery-emoji {
  font-size: 1.5*$regular;
  /* font-weight: bold; */
}
.notification-infotext {
  /* background-color: $bg-alt; */
  /* border-radius: 16px; */
  padding: 0 0 0 $small;
  font-size: 1.5*$regular;
  /* font-weight: bold; */
}
.lang{
  margin: 0px;
  padding: 0px;
  font-size: 1.5*$regular;
}

.infotext-pac {
  background-color: $urgent;
  border-radius: 16px;
  padding: 0 5px;
  font-size: $regular;
  font-weight: bold;
}

//----- Music -----//

.album_art {
  background-repeat: no-repeat;
  background-size: 2*$regular;
  min-height: 2*$regular;
  min-width: 2*$regular;
  border-radius: 5px;
}

.song-info {
  min-width: 6rem;
}

.song {
  font-size: $regular;
  font-weight: bold;
}

.artist {
  font-size: 0.8*$regular;
  font-weight: bold;
}

.player-toggle {
  font-family: "Material Design Icons Desktop";
  font-size: 2*$regular;
}

.player-previous,
.player-next {
  font-family: "Material Design Icons Desktop";
  font-size: 1.5*$regular;
}

//----- Clock -----//

.time {
  font-size: 1.5*$regular;
  font-weight: bold;
}

.date {
  font-size: 1.25*$regular;
}

.workspaces {
  font-size: 1.5*$regular;
  background-color: $bg;
  /* border: 1px solid $borderbg; */
  /* padding: 2*$small 1.5*$small; */
  /* border-radius: 15px; */
}

.workspaces button, .power-buttons button {
  /* border: 1px solid cyan; */
  /* background-color: $yellow; */
  padding: 0px 5px;
  border-radius: 15px;
  margin: .5*$small 0.5*$small;
  transition: all 0.15s ease-out;
}

.active-workspace {
  background-color: $active;
}

.focused-workspace {
  background-color: $selected;
  font-weight: bold;
}
.focused-workspace>*{
  color: $bg-alt;
}

.urgent-workspace {
  color: $bg-alt;
  background-color: $urgent;
}

.brightness_progress {
  color: $yellow;
  background-color: $bg-alt;
}
.brightness_progress highlight {
  background-image: linear-gradient(to left, $bg-alt 0%, $yellow 100% );
}

.volume_progress {
  color: $blue;
  background-color: $bg-alt;
}
.volume_progress highlight {
  background-image: linear-gradient(to left, $bg-alt 0%, $blue 100% );
}

$N_TITLE: 2*$regular;
$N_APPNAME: 1.8*$regular;
$N_SUMMARY: 1.5*$regular;
$N_BODY: 2*$small;
$N_CLEAR: 1.5*$regular;

.notifications-box{
  background-color: $bg;
}

.notification-scroll-box {
  margin: 10px 16px 0px 16px;
}

.notification-headers-label{
  color: $fg;
  font-size: $N_TITLE;
  font-weight: bold;
  font-family: Iosevka;
  text-shadow: 0px 0px 2px #000000;
  padding: 0px 160px 0px 160px;
}

.notification-literal{
}

.notification-card-eventbox{
  background-color: $bg-alt;
  border-radius: 15px;
}

.notification-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 60px;
  border-radius: 10px;
  margin: 0px 0px 10px 10px;
}

.notification-headers-clear{
  margin: 10px 16px 16px 0px;
  background-color: $bg-alt;
  border-radius: 15px;
  padding: 15px 15px 13px 15px;
  font-size: $N_CLEAR;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.notification-headers-clear:hover {
  background-color: $selected;
}

.notification-card-header-box{
  background-color: $bg-alt;
  font-size: 1.3*$N_BODY;
  padding: $small $small 0 0;
}
.notification-card-notify-close > *{
  padding: 0 0.5*$small 0 $small;
  border-radius: 3*$small;
  color: $highlight;
  transition: background-color 0.2s;
  background-color:rgba(0, 0, 0, 0.1);
}
.notification-card-notify-close:hover> *{
  background-color: $bg;
}
.notifications-empty-label{
  color: $fg;
  font-size: $N_SUMMARY;
}

.notification-app-name{
  padding: 0 0 0 $small;
  font-size: $N_APPNAME;
  font-weight: bold;
  color: $fg;
}
.notification-body{
  font-size: $N_BODY;
  color: $fg;
}
.notification-summary{
  font-weight: bold;
  font-size: $N_SUMMARY;
  padding-bottom: 2px;
  color: $fg;
}
.notification-card-box{
  padding: 0px;
}
.notification-card{
  color: $fg;
}
.notification-card-surround{
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.125rem;
  padding: 0.5*$small;
}
.notification-card-LOW>*, .notification-card-NORMAL>*, .notification-card-CRITICAL>*, .notification-card-OTHER>*{
  background-color: unset;
}

/* LOW */
.notification-card-LOW, .notification-app-name.notification-card-LOW{
  color: $low_foreground;
  background-color: $low_background;
}
.notification-card-surround.notification-card-LOW{
  border-color: $low_frame_color;
}
/* NORMAL */
.notification-card-NORMAL, .notification-app-name.notification-card-NORMAL{
  color: $normal_foreground;
  background-color: $normal_background;
}
.notification-card-surround.notification-card-NORMAL{
  border-color: $normal_frame_color;
}
/* CRITICAL */
.notification-card-CRITICAL, .notification-app-name.notification-card-CRITICAL{
  color: $critical_foreground;
  background-color: $critical_background;
}
.notification-card-surround.notification-card-CRITICAL{
  border-color: $critical_frame_color;
}
/* OTHER=LOW */
.notification-card-OTHER, .notification-app-name.notification-card-OTHER{
  color: $low_foreground;
  background-color: $low_background;
}
.notification-card-surround.notification-card-OTHER{
  border-color: $low_frame_color;
}

.notification-badge{
  background: rgba($active, 0.8);
  font-size: 1.3*$regular;
  margin: 0 0 0 0.5*$small;
}
.notification-crits{
  background: rgba($urgent, 0.8);
  font-weight: bold;
}
.notification-norms{
  background: rgba($borderbg, 0.8);
  color: $bg-alt;
}
.notification-lows{
  background: rgba($active, 0.8);
}

trough highlight {
  border-radius: $small;
}
scale trough {
  background-color: $bg-alt;
  min-height: $small;
  min-width: $regular*10;
  margin: 0px $small 0px $small;
}
slider{
  background-color: $bg-alt;
  margin: $small;
}
scale {
  min-height: 8px;
  min-width: 70px;
  all: unset;
  background-color: $bg-alt;
  border-radius: 20px;
}

.calendar-box {
  font-weight: Bold;
  font-size: 1.5*$regular;
  background-color: $bg;
  border-radius: 10px;
  padding: 0 1rem 0.5rem;
  color: $fg;
  box-shadow: 0 0 4px 2px rgba(#000000, 0.3);

  .calendar-indicator {
    background-color: $bg-alt;
    border-radius: 10px;
    padding: 0.5rem 0.15rem 0.2rem;
    margin: 30px;

    & > * {
      font-size: 1.5*$regular;
      border: solid 0px transparent;
    }

    &.highlight {
      padding: 10rem;
      color: $yellow;
    }
  }
  .label-calendar {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1.5*$regular;
  }
}

calendar:selected {
  color: $selected;
}

calendar.header {
  color: mix($selected, $fg, 80%);
  font-weight: bold;
}

calendar.button {
  color: $fg;
}

calendar.highlight {
  color: $base0A;
  font-weight: bold;
}

calendar:indeterminate {
  color: mix($bg, $fg, 40%);
}
